
@{
    ViewBag.Title = "Index";
}

@*@foreach (var r in Model)
{
    <table class="table">
        <tr>
            <td>@r.UserName==Identity.User</td>
            <td>@r.Email</td>
            <td>@r.PhoneNumber</td>
            <td>@r.Password</td>
            <td>@r.ConfirmPassword</td>
        </tr>
    </table>
}*@

